@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "typography.css";
@import "animation.css";
/* TODO: Remove for production */
@import "dev/screensizelabel.css";

body {
	position: relative;

	font-family: "Jost", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.625rem;
	overflow-x: hidden;
}

.container {
	@apply px-6 md:px-10 lg:px-16 xl:px-24 xxl:px-40;
}

.social-icon:hover path {
	@apply fill-peach-light;
}
