@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");
@import "typography.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Jost", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

/* ------------------- Screen Size Label START ------------------- */
/* TODO: Remove for production */

:root::after {
    font-size: 8px;
    position: fixed;
    font-family: -apple-system, BlinkMacSystemFont, "Arial", sans-serif;
    user-select: none;
    pointer-events: none;
    z-index: 999999;
    top: 0;
    left: 10px;
    white-space: pre-wrap;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 0 0 2px 2px;
    font-weight: normal;
    padding: 0.5em 1em;
    letter-spacing: 0.1em;
    line-height: 1.5;
    content: "base";

    @apply bg-rose-400 sm:bg-pink-400 md:bg-violet-400 lg:bg-indigo-400 xl:bg-sky-400 2xl:bg-teal-400 3xxl:bg-green-400;
}

:root::after {
    content: "mobile";
}

@screen sm {
    :root::after {
        content: "sm: 480px";
    }
}
@screen md {
    :root::after {
        content: "md: 768px";
    }
}
@screen lg {
    :root::after {
        content: "lg: 1024px";
    }
}
@screen xl {
    :root::after {
        content: "xl: 1280px";
    }
}
@screen 2xl {
    :root::after {
        content: "2xl: 1600px";
    }
}
@screen 3xxl {
    :root::after {
        content: "3xxl: 1920px";
    }
}
/* ------------------- Screen Size Label END ------------------- */
