@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");
@import "typography.css";

/* TODO: Remove for production */
@import "components/screensizelabel.css";
@import "animation.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Jost", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.social-icon:hover path {
    @apply fill-peach-light;
}
